/* Universal box-sizing to prevent overflow */

/* For this part I got stuck, so I asked ChatGPT on how to prevent the content from overflowing: https://docs.google.com/document/d/1xZo7n2-e1XkOuNTMyQP0-eJ3dMeS6U9JP3EMMhs7sYo/edit?usp=sharing
Then I looked examples from W3School to understand how it works: https://www.w3schools.com/cssref/sel_before.php | 
https://www.w3schools.com/cssref/sel_after.php | https://www.w3schools.com/cssref/css3_pr_box-sizing.php

However, I now realize for this section of code, it became unnecessary to prevent the content from overflowing.
All I had to do was to make sure to apply box-sizing:borderbox, padding:0 and margin:0 to prevent content to go off the screen*/
/**,
*::before,
*::after {
    box-sizing: border-box;   The use of this is to prevent content overflowing using padding and margin.
}*/


/* NOTE: I have included most of the references for materials that were not taught in class in the section: Mobile View 320px.
The remaining code for view section follow the parent code in Mobile View 320px. Changes that occur were mostly to modify the
content so it fits the current device view*/

/* Hello */


/* ======================================================== Mobile View (320px and Up) ================================================== */
/* mobile View (320px and Up) */
@media (min-width: 0px) {
    body {
        font-family: 'Open Sans', sans-serif;
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden; /* Hide horizontal overflow for the entire body: https://www.w3schools.com/cssref/css3_pr_overflow-x.php */
        box-sizing: border-box; /* The use of this is to prevent content overflowing using padding and margin.  */
    }
    
    /* Header */
    header {
        max-width: 100%;  /* overflow: hidden; To prevent content from overflowing the navigation bar. 
                             Idea retrieved from: https://www.w3schools.com/cssref/pr_pos_overflow.php */
        padding: 0.5rem;
        background-color: #000;
        text-align: center;
    }
    
    header nav a {
        color: #fff;
        margin: 0 0.5rem;
        font-size: 0.75rem;
        text-decoration: none;  /* This is used to remove the underline for hyperlinks when using the <a> tag. Idea retrieved from: https://www.w3schools.com/cssref/pr_text_text-decoration.php#gsc.tab=0 */
    }
    
    header nav a.active {
        color: #5050FF;
    }
    
    /* Grant Intro Section */
    .grant-intro {
        max-width: 100%;
        overflow: hidden;
        font-family: 'Montserrat';
        text-align: left;
    }
    
    .image-placeholder {
        position: relative;
        width: 100%; /* Responsive width */
        margin: 0;
        padding: 0;
    }
    
    .image-placeholder img {
        width: 100%; /* Responsive width */
        height: 20rem;
        display: block;
    }
    
    /* Grant Subtitle and Title - Positioned over Image */
    .grant-subtitle {
        position: absolute;
        bottom: 18%;
        left: 5%;
        transform: translate(0%, -80%); /*This is to ensure the position of the sub title and applies the same idea for the main title.
                                        Idea retrieved from: https://www.w3schools.com/cssref/css3_pr_transform.php | 
                                        https://www.w3schools.com/cssref/css3_pr_transition.php */
        color: #5050FF;
        font-size: 1rem;
        font-style: italic;
    }
    
    .grant-title {
        position: absolute;
        bottom: 15%;
        left: 5%;
        transform: translate(0, 30%);  /* The use of this was explained above in sub title section. */
        color: #000;
        font-size: 1.5rem;
        font-weight: bold;
        position: absolute;
    }
    
    /* Grant Details Section */
    .grant-info-grid {
        display: grid;
        max-width: 100%;
        overflow: hidden;
    }
    .grant-info-blackbox {
        width: 100%; /* Responsive width */
        padding: 1rem;
        box-sizing: border-box;
        text-align: center;
        color: #ffffff;
        background-color: #000000;
    }
    .grant-info-blackbox h1{
        font-size: 1rem;
    }
    .grant-info-blackbox p{
        font-size: 1.25rem;
    }
    
    /* Grant Requirements and Description */
    .grant-info-box {
        width: 100%; /* Responsive width */
        padding: 0rem;
        box-sizing: border-box;
        text-align: left;
        color: #000000;
    }
    .grant-requirements {
        padding: 1rem 2rem;
    }
    
    .grant-requirements h1{
        font-size: 1rem;  
    }
    
    .grant-requirements p {
        margin-bottom: 1rem 0rem;
    }
    
    /* ------------------------------------------------------- */
    
    /* Additional Info Section */
    .additional-info-grid {
        display: grid;
        max-width: 100%;
        overflow: hidden;
        gap: 1rem;
        background-color: #B3B3B3;
    }
    
    .additional-info-box{
        display: grid;
        padding: 0rem 1rem;
        margin: 0;
        width: 100%; /* Responsive width */
        grid-template-columns: repeat(2, 1fr);
    }
    
    .info-box {
        padding: 0.5rem 0.95rem;
    }
    
    .info-box h1, p{
        font-size: 0.75rem;
    }
    
    /* Additional Info Image Container */
    .additional-info-image-box {
        max-width: 100%; /* Responsive width */
        overflow: hidden;
        justify-content: center;
        align-items: center;
        background-color: #B3B3B3;
    }
    
    /* Additional Info Image Styling */
    .additional-info-image-box img {
        width: 100%; /* Responsive width */
        height: 15rem; /* Maintains aspect ratio */
        margin: auto;
        display: block;
    }
    
    /* Additional Info Button Box */
    .additional-info-button-box {
        text-align: center;
        padding: 2rem 0;
        background-color: #B3B3B3;
    }
    
    .additional-info-button {
        padding: 0.8rem 1.5rem;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;  /*This is to make the cursor turn into a pointer when it hovers above the button indicating it's a link.
                            Idea retrieved from: https://www.w3schools.com/cssref/pr_class_cursor.php*/
    }
    
    .additional-info-button:hover {  /* Idea retrieved from: https://www.w3schools.com/css/css3_buttons.asp */
        background-color: #5050FF;
    }
}

/* ======================================================== Tablet View (480px and Up) ================================================== */
/* Tablet View (480px and Up) */
@media (min-width: 480px) {

    /* Grant Subtitle and Title - Positioned over Image */
    .grant-title {
        transform: translate(0, 70%);
        font-size: 2rem;
    }

    /* Grant Requirements and Description */
    .grant-requirements {
        padding: 1rem 3rem;
    }

    /* Additional Info Section */
    .additional-info-box{
        padding: 1rem 2rem;
    }
    
    .info-box {
        padding: 0.5rem 1.5rem;
    }

    /* Additional info image styling for desktop */
    .additional-info-image-box img {
        width: 95%;
        height: 25rem;
        padding-block: 1rem;
        padding-inline: 2rem;
    }
}

/* ======================================================== Tablet View (880px and Up) ================================================== */
/* Tablet View (880px and Up) */
@media (min-width: 880px) {

    /* Grant Intro Section */
    .image-placeholder img {
        width: 100%;
        height: 25rem;
        display: block;
    }

    /* Grant Subtitle and Title - Positioned over Image */
    .grant-subtitle {
        position: absolute;
        bottom: 18%;
        left: 5%;
        transform: translate(0%, -80%);
        color: #5050FF;
        font-size: 1.5rem;
        font-style: italic;
    }

    .grant-title {
        position: absolute;
        bottom: 15%;
        left: 5%;
        transform: translate(0, 70%);
        color: #000;
        font-size: 3rem;
        font-weight: bold;
        position: absolute;
    }

    /* Grant Details Section */
    .grant-info-blackbox h4{
        font-size: 1rem;
    }
    .grant-info-blackbox p{
        font-size: 1.25rem;
    }

    /* Grant Requirements and Description */
    .grant-requirements {
        padding: 1rem 4rem;
    }
    .grant-requirements h1 {
        font-size: 1.25rem;
        padding-top: 1rem;
    }
    .grant-requirements p {
        font-size: 0.9rem;
        padding-bottom: 1rem;
    }

    /* Additional Info Section */
    .additional-info-grid {
        display: grid;
        max-width: 100%;
        overflow: hidden;
        background-color: #B3B3B3;
        grid-template-columns: repeat(2, 1fr);
    }

    .additional-info-box{
        display: grid;
        padding: 0;
        margin: 0;
        width: 100%;
        height: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .info-box {
        padding-top: 1.5rem;
        padding-left: 4rem;
    }
    .info-box h1{
        font-size: 0.85rem;
    }
    .info-box p{
        font-size: 0.75rem;
    }

    /* Additional Info Image Container */
    .additional-info-image-box {
        display: flex;
        max-width: 100%;
        padding-top: 1rem;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        background-color: #B3B3B3;
    }

    .additional-info-image-box img {
        width: 85%;
        height: 22rem;
        margin: auto;

        display: block;
    }

    /* Additional Info Button Box */
    .additional-info-button-box {
        text-align: left;
        padding: 1rem 3rem;
        background-color: #B3B3B3;
    }

    .additional-info-button {
        position: absolute;
        transform: translate(0, -220%);
        padding: 0.8rem 1.5rem;
        background-color: #000;
        color: #fff;
        border: none;
        border-radius: 10px;
        cursor: pointer;
    }

    .additional-info-button:hover {
        background-color: #5050FF;
    }
}

/* ======================================================== Desktop View (1025px and Up) ================================================== */
/* Tablet View (1025px and Up) */
@media (min-width: 1025px) {

    /* Grant Intro Section */
    header {
        padding: 1rem;
        text-align: right;
    }
    header nav a{
        font-size: 1rem;
    }

    .image-placeholder img {
        width: 100%;
        height: 30rem;
        display: block;
    }

    /* Grant Subtitle and Title - Positioned over Image */
    .grant-subtitle {
        font-size: 1.5rem;
    }
    .grant-title {
        transform: translate(0, 70%);
        font-size: 3rem;
    }

    /* Grant Details Section */
    .grant-info-grid {
        max-width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .grant-info-blackbox {
        width: 80%;
        padding: 2rem;
        margin-block: 3rem;
        margin-left: 5rem;
    }
    .grant-info-blackbox p{
        font-size: 1.5rem;
    }

    /* Grant Requirements and Description */
    .grant-info-box {
        padding-right: 2rem;
    }
    .grant-requirements {
        padding-block: 1rem;
        padding-right: 4rem;
    }
    .grant-requirements h1 {
        font-size: 1.25rem;
        padding-top: 1rem;  
    }
    .grant-requirements p {
        font-size: 1rem;
        padding-bottom: 0rem;
    }

    /* Additional Info Section */
    .additional-info-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .additional-info-box{
        padding-top: 2.5rem;
        height: 50%;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .info-box {
        padding-left: 4.93rem;
    }

    .info-box h1{
        font-size: 1rem;
    }
    .info-box p{
        font-size: 0.90rem;
    }

    /* Additional Info Image Container */
    .additional-info-image-box {
        display: flex;
        padding-top: 3rem;
    }

    .additional-info-image-box img {
        width: 85%;
        height: 23rem;
    }

    /* Additional Info Button Box */
    .additional-info-button-box {
        text-align: left;
        padding: 1rem 5rem;
    }

    .additional-info-button {
        position: absolute;
        transform: translate(0, -220%);
        padding: 0.8rem 1.5rem;
    }
}

/* ======================================================== Desktop View (1440px and Up) ================================================== */
/* Tablet View (1440px and Up) */
@media (min-width: 1440px) {

    /* Grant Intro Section */
    .image-placeholder img {
        height: 35rem;
    }

    /* Grant Subtitle and Title - Positioned over Image */
    .grant-subtitle {
        font-size: 2rem;
    }
    .grant-title {
        font-size: 4rem;
    }

    /* Grant Details Section */
    .grant-info-blackbox {
        width: 65%;
        padding: 2rem;
        margin-block: 3rem;
        margin-left: 10rem;
    }

    /* Additional Info Section */
    .info-box {
        padding-left: 10rem;
    }
    .info-box h1{
        font-size: 1.25rem;
        padding-top: 1rem;
    }
    .info-box p{
        font-size: 1rem;
    }

    /* Additional Info Image Container */
    .additional-info-image-box img {
        width: 85%;
        height: 30rem;
        margin: auto;
        display: block;
    }

    /* Additional Info Button Box */
    .additional-info-button-box {
        text-align: left;
        padding: 1rem 9.5rem;
        background-color: #B3B3B3;
    }

    .additional-info-button {
        padding: 0.8rem 2rem;
    }
}
